
.slide{
	display:none;
}
.prev{
	cursor: pointer;
	position: absolute;
	top: 700px;
}
.next{
	cursor: pointer;
	position: absolute;
	top: 700px;
	margin-right:11px;	
}
.next {
  right: 0;
  
}
.prev:hover,
.next:hover {
  background-color:grey;
}
.a20{
	color:white;
	margin-left:20px;
}
#b8{
	list-style-type:none;
}
#b8 li{
	float:left;
	padding:20px;
}
.a21{
	padding-left:25px;
}