body{
	
	background-image:url("../images/5.png");
	background-repeat:no-repeat;
	background-size:1530px 990px;
	
	
}
#b15{
	margin-top:150px;
	margin-left:35%;
	width:450px;
	height:700px;
    border: 2px solid white;
	background-color:grey;
	opacity:0.8;
	display:block;
	padding:20px;
}
.a31{
	
	margin-left:190px;
	color:white;
	font-size:20px;
}
.a32{
	margin-left:120px;
	color:white;
	font-size:20px;
}
.a33{
		background-image:url("../images/user.png");
		background-size:30px;
		background-repeat:no-repeat;
		background-position:5px;
		padding-left:50px;
		font-size:15px;
		margin-left:50px;
		height:40px;
		width:300px;
		margin-top:50px;

}
.a34{
		background-image:url("../images/pwd.png");
		background-size:30px;
		background-repeat:no-repeat;
		background-position:5px;
		padding-left:50px;
		font-size:15px;
		margin-left:50px;
		height:40px;
		width:300px;
		margin-top:50px;
	
}

.a35{
	font-size:15px;
	margin-left:130px;
	height:40px;
	width:200px;
	margin-top:50px;
	padding-right:20px;
	background-color:RoyalBlue;
}
.a35:hover{
	background-color:#ef143C;
}
.a36{
	margin-left:120px;
	border:2px solid black;
	border-radius:100px;
}
.g9{
	color:DarkBlue;
	margin-left:52px;
	font-size:19px;
	
}
.g10{
	margin-left:10px;
	width:150px;
	height:35px;
	border:2px solid DarkBlue;
}
.a40{
	margin-left:109px;
	color:white;
	font-size:20px;
}